<h1 class="title is-3">Customers Missing Email</h1>

<%= link_to 'All Customers', '/', class: 'button is-link' %>
<%= link_to 'Alphabetized', '/customers/alphabetized', class: 'button is-primary' %>

<% @customers.each do |customer| %>
  <%= render partial: 'customer', locals: { customer: customer } %>
<% end %>
